.menu-icon {
    width: 20px;
    height: 20px;
    background-image: url('../source/menuLogo.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}
.menu-links {
    width: 100%;
    max-width: 1500px;
    background-color: #2c3e50;
}
.menu-links td {
    text-align: center;
    padding: 10px;
}
.menu-links a {
    text-decoration: none;
    color: #eeeeee; 
    font-weight: bold;
    border: 5px solid transparent;
    padding: 5px 10px;
}
.menu-links a:hover {
    background-color:#3498db;
    border: 5px solid rgba(41, 77, 255, 0.249); 
    border-radius: 8px;
    padding: 5px 10px;
}
.menu-links a.active {
    background-color: #3498db;
    border-radius: 8px;
    padding: 5px 10px;
}

a[href="donat.html"] {
    background-color: red;
    border: 5px solid rgb(255, 0, 0); 
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#menu-login {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../source/member.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    text-decoration: none;
    z-index: 100;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2c3e50;
    z-index: 100;
}
#burger-menu {
    display: none;
    position: fixed;
    top: 4%;
    right: 0.9%;
    z-index: 100;
    background: #2c3e50;
    color: white;
    border: 1px solid #34495e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    width: 200px;
}

#burger-menu li {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#burger-menu li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

#burger-menu li a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

#burger-menu.active {
    display: block;
}


