body {
    font-family: 'Unbounded', sans-serif, "Times New Roman";
    background-image: url('../source/bodyBackground.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    max-width: 1500px;
    scroll-behavior: smooth;
}
.body_hide {
    opacity: 0;
    transition: 0.7s opacity ease-in-out;
}
.body_visible {
    opacity: 1;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px; 
    text-align: center;
}
input, select {
    padding: 10px;
    width: 25%;
    border-radius: 5px;
    font-size: 16px;
}
label, textarea{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block; 
    width: 60%; 
}

form {
    display: grid;
    gap: 15px;
}

::-ms-clear{
    color:blueviolet;
    cursor: crosshair;
}
@media (min-width:320px) and (max-width:992px){
    .menu-links td {
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }
    h2, p{
        font-size: 35px;
    }
}

@media tv{
    .menu-icon {
        width: 25px;
        height: 25px;
    }    
    .menu-links {
        width:95%;
        max-width: 1200px;
    }
    *{
        font-size: 45px;
    }
}

@media print{
    body{
        filter: grayscale(100%);
    }
}

#countdown {
    width: 20%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(36, 184, 174);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.new-year {
    text-align: center;
    width: 100%;
}